[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
bcrypt = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
black = "*"

[requires]
python_version = "3.10"
