[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
bcrypt = "*"
requests = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
black = "*"
isort = "*"
wrapt = "*"
mypy = "*"
types-requests = "*"
coverage = "*"

[requires]
python_version = "3.11"
