[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
bcrypt = "*"
django-oauth-toolkit = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
